# dist diretory where are the .js builded files
build/

# Dependency directories
node_modules/

# dotenv environment variables file
.env

# credentials file
**credentials**

# vscode IDE configurations
.vscode